<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KSPSerialIODebugTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KSPSerialIODebugTool.Properties.Settings>
            <setting name="DefaultPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="refresh" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="HandshakeDelay" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="HandshakeDisable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PitchEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RollEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YawEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TXEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TYEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TZEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WheelSteerEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThrottleEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WheelThrottleEnable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SASTol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrbitalApoapsis" serializeAs="String">
                <value>150897</value>
            </setting>
            <setting name="OrbitalPeriapsis" serializeAs="String">
                <value>148562</value>
            </setting>
            <setting name="OrbitalSemMajorAxis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrbitalSemiMinorAxis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrbitalEccentricity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrbitalInclination" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrbitalTimeToAP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrbitalTimeToPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrbitalTrueAnonmaly" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrbitalPeriod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrbitalVelocity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrbitalSOI" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalSpeed" serializeAs="String">
                <value>2538</value>
            </setting>
            <setting name="GForce" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AtmDensity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RadarAltitude" serializeAs="String">
                <value>149652</value>
            </setting>
            <setting name="Altitude" serializeAs="String">
                <value>149365</value>
            </setting>
            <setting name="SurfaceSpeed" serializeAs="String">
                <value>1369</value>
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MissionTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeltaTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxOverheat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MachNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IndicatedAirSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentStage" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="StageCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Roll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Header" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LiquidFuelMax" serializeAs="String">
                <value>3624</value>
            </setting>
            <setting name="LiquidFuelCurrent" serializeAs="String">
                <value>1492</value>
            </setting>
            <setting name="OxidizerMax" serializeAs="String">
                <value>3607</value>
            </setting>
            <setting name="OxidizerCurrent" serializeAs="String">
                <value>1684</value>
            </setting>
            <setting name="ElectricalChargeMax" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="ElectricalChargeCurrent" serializeAs="String">
                <value>1856</value>
            </setting>
            <setting name="MonoPropMax" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MonoPropCurrent" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="IntakeAirMax" serializeAs="String">
                <value>312</value>
            </setting>
            <setting name="IntakeAirCurrent" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="SolidFuelMax" serializeAs="String">
                <value>7200</value>
            </setting>
            <setting name="SolidFuelCurrent" serializeAs="String">
                <value>312</value>
            </setting>
            <setting name="XenonGasMax" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="XenonGasCurrent" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="RCS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SAS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lights" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Gear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Brakes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Abort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CG1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CG2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CG3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CG4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CG5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CG6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CG7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CG8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CG9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CG10" serializeAs="String">
                <value>False</value>
            </setting>
        </KSPSerialIODebugTool.Properties.Settings>
    </userSettings>
</configuration>